.player-register {
  position: absolute;
  top:150px;
  left:750px;
  font-size: 19px;
}
.grid {
  margin: 100px;
}
.grid section:nth-child(1) {
  border-bottom: 1px solid #000;
}
.grid section:nth-child(2) {
  border-bottom: 1px solid #000;
}
.grid section {
  display: flex;
  text-align: center;
  width: 175px;
}
.grid section span {
  flex-direction: column;
  margin: 1px;
  padding: 20px;
  min-width: 20px;
}
.grid section span:nth-child(2) {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.grid section span.no-shadow {
  box-shadow: 0px 0px 0px #000;
}
